.rwb-nav {
  margin-top: 16px;
}

.center {
  display: flex;
  align-items: center !important;
}

.icon-home {
  background-image: url("../../assets/home.png");
  background-repeat: no-repeat;
  background-size: 30px 30px;
  width: 30px;
  height: 30px;
}

.icon-manage {
  background-image: url("../../assets/edit.png");
  background-repeat: no-repeat;
  background-size: 33px 30px;
  width: 33px;
  height: 30px;
}

.menu-card {
  color: #fdfdfd;
  cursor: pointer;
  text-decoration: none !important;
}

.menu-card:hover {
  color: #ffbd35 !important;
  cursor: pointer;
  text-decoration: none !important;
}

.menu-active {
  cursor: pointer;
  color: #ffbd35;
  text-decoration: none !important;
  font-weight: bold;
}
.menu-active:hover {
  color: #ffbd35 !important;
  cursor: pointer;
  text-decoration: none !important;
}

.menu-logout {
  color: #ff0000a2;
  cursor: pointer;
}

.menu-logout:hover {
  color: #ff0000;
  cursor: pointer;
}

.p-menu-label {
  font-size: 15px;
  margin: 0 0 0 10px !important;
  padding: 0 !important;
  align-items: center;
}

.p-menu-label:hover {
  color: #ffbd35 !important;
  cursor: pointer;
  text-decoration: none !important;
}

.bg-black-soft {
  background-color: #2c2828;
}

@media screen and (max-width: 700px) {
  .rwb-nav {
    position: fixed;
    z-index: 9999999;
    bottom: 0;
    width: 93% !important;
    margin-bottom: 8px !important;
  }
  .menu-card,
  .menu-active,
  .menu-logout,
  h5 {
    font-size: 15px !important;
  }
  .center {
    display: inline;
  }
  .menu-logout {
    margin-top: 5px;
  }
  .p-menu-label {
    display: none;
  }
  .menu-active {
    cursor: pointer;
    background-color: #ffbd35;
    width: 13px;
    height: 13px;
    border-radius: 50px;
  }
  .menu-logout {
    margin-top: 6px;
    color: #cccccca2;
    cursor: pointer;
  }
}
