.menu-card {
  color: #fdfdfd;
  cursor: pointer;
  text-decoration: none !important;
}

.menu-card:hover {
  color: #0383ce;
  cursor: pointer;
  text-decoration: none !important;
}

.menu-active {
  color: #0383ce;
  cursor: pointer;
  text-decoration: none !important;
}

.menu-logout {
  color: #ff0000a2;
  cursor: pointer;
}

.menu-logout:hover {
  color: #ff0000;
  cursor: pointer;
}

.bg-black-soft {
  background-color: #2c2828;
}

@media screen and (max-width: 700px) {
  .menu-card,
  .menu-active,
  .menu-logout,
  h5 {
    font-size: 15px !important;
  }
}
